/* xs */
/* @media (min-width: 475px) {
} */

/* sm */
/* @media (min-width: 640px) {
} */

/* md */
/* @media (min-width: 768px) {
} */

/* lg */
/* @media (min-width: 1024px) {
} */

/* xl */
/* @media (min-width: 1280px) {
} */

/* 2xl */
/* @media (min-width: 1536px) {
} */

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.mb-1 {
  margin-bottom: var(--spacing-xs);
}
.mb-2 {
  margin-bottom: var(--spacing-sm);
}
.mb-3 {
  margin-bottom: var(--spacing-md);
}
.mb-4 {
  margin-bottom: var(--spacing-lg);
}
.mb-5 {
  margin-bottom: var(--spacing-xl);
}

/* Prevent right-click on images */
.no-context-menu {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  pointer-events: none;
}

/* ===========================================
    CONTAINER SYSTEM
   =========================================== */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}
/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .section {
    margin-top: 2rem;
  }
}
/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
  .section__line {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
